* {
  box-sizing: border-box;
}

html {
  font-size: 16px;  
}

body {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  background-color: #222222;
  position: center;
}

h1 {
  text-align: center;
  color: #F9FBFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border-collapse: collapse;
}

.grid-items {
  aspect-ratio: 1/1;
  display: flex;
  padding: 5%;
  border: 0.125rem solid black;
  background-color: #F9FBFF;
  position: relative;
}

#box1, #box2, #box3, #box4 {
  border-top: 0.5rem solid black;
}

#box5, #box6, #box7, #box8, #box9, #box12, #box13, #box14, #box15 {
  border-top: 0.25rem solid black;
}

#box1, #box5, #box9, #box13 {
  border-left: 0.5rem solid black;
}

#box3, #box7, #box10, #box11, #box12, #box15 {
  border-left: 0.25rem solid black;
}

#box4, #box8, #box12, #box16 {
  border-right: 0.5rem solid black;
}

#box2, #box6, #box9, #box10, #box11, #box14 {
  border-right: 0.25rem solid black;
}

#box13, #box14, #box15, #box16 {
  border-bottom: 0.5rem solid black;
}

#box1, #box2, #box3, #box4, #box5, #box8, #box9, #box10, #box11 {
  border-bottom: 0.25rem solid black;
}

.prompt {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0.5rem;
}

.answer {
  display: flex;
  align-self: center;
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: #F9FBFF;
}

.special {
  border: none;
  font-size: 1.5rem;  
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media only screen and (min-width: 475px) {
  .grid-items { font-size: 20px; }
  h1 { font-size: 40px; }
}